In [1]:
import pandas as pd
import pandas_datareader.data as wb
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ticker = str(input("introduce el ticker "))
ticker_data = pd.DataFrame()
for i in ticker:
    data = wb.DataReader(ticker , "yahoo")[[ "High","Low"]]
    ticker_data["High"] = data["High"]
    ticker_data["Low"] = data["Low"]
    ticker_data["Profit"] = ((ticker_data["High"] - ticker_data["Low"])/(ticker_data["High"]))*100

introduce el ticker ANA.MC

In [3]:
ticker_data

                  High         Low    Profit
Date
2017-04-24   74.940002   73.870003  1.427808
2017-04-25   74.599998   74.000000  0.804288
2017-04-26   74.589996   73.769997  1.099343
2017-04-27   74.339996   73.510002  1.116484
2017-04-28   75.800003   74.110001  2.229555
...                ...         ...       ...
2022-04-13  194.300003  188.699997  2.882144
2022-04-14  194.699997  188.800003  3.030300
2022-04-19  196.500000  192.300003  2.137403
2022-04-20  197.000000  192.699997  2.182743
2022-04-21  196.800003  190.800003  3.048780

[1277 rows x 3 columns]

In [4]:
ticker_data.to_csv("../Data/Ticker_info.csv")